* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #333;
    color: #fff;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #444;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img {
    max-width: 100px; 
    height: auto; 
}


.barra-de-pesquisa {
    display: flex;
    align-items: center;
}

.barra-de-pesquisa input {
    padding: 5px;
    font-size: 16px;
}

.icone-carrinho {
    font-size: 24px;
    
}

.icons img {
    width: 30px;
    margin-left: 10px;
}

.titulo-principal {
    text-align: center;
    margin: 20px 0;
}

.titulo-principal h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #f3e5ab;
}

.quem-somos {
    text-align: center;
    margin: 30px 0;
    margin-right: 800px;
}

.quem-somos h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.quem-somos h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.descricao p {
    background-color: #f3e5ab;
    color: #222;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 600px;
}

.missao {
    text-align: center;
    margin-left: 800px;
    margin-top: 100px;
    margin-bottom: 50px;
}


.missao p {
    background-color: #f3e5ab;
    color: #222;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 600px;
}

.valores {
    text-align: center;
    margin-right: 500px;
    

}

.valores-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.item {
    background-color: #f3e5ab;
    color: #222;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
}

.redes-sociais {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background: linear-gradient(90deg, #f3e5ab, #f8f0d5); 
    border-radius: 10px; 
    padding: 20px; 
    color: #333; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 50px;
}


.redes-sociais .texto {
    flex: 1;
    margin-right: 20px;
}

.redes-sociais h2 {
    margin-bottom: 10px;
}

.icones-sociais img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.2s ease-in-out;
}

.icones-sociais img:hover {
    transform: scale(1.1);
}

.modal-carrinho {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%;
    z-index: 1000;
    padding: 20px;
    text-align: center;
}

.conteudo-modal-carrinho h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.itens-carrinho {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 15px;
    text-align: left;
}

.itens-carrinho li {
    font-size: 1em;
    margin: 5px 0;
    padding: 5px;
    background-color: #4b4a4a;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.adicionar-carrinho {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s, transform 0.2s;
}

.adicionar-carrinho:hover {
    background: #0056b3;
    transform: translateY(-2px);
}

.adicionar-carrinho:active {
    background: #004494;
    transform: translateY(0);
}

.total-carrinho p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.botao-finalizar,
.fechar-carrinho {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

.fechar-carrinho {
    background-color: #dc3545;
    margin-left: 5px;
}

.botao-finalizar:hover {
    background-color: #218838;
}

.fechar-carrinho:hover {
    background-color: #c82333;
}

.modal-carrinho:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.retangulo-dourado {
    padding: 15px;
    background-color: #fffbe6;
    text-align: center;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 70px;
}
